<h1>Home#generatePdf</h1>
<p>Find me in app/views/home/generatePdf.html.erb</p>

Your name is <%= @name %> and you are <%= @age %> years old.<br/>

<%= image_tag wicked_pdf_asset_base64("red-wall.jpg"), height: 300 %>